body {
    font-family: sans-serif;
}


/*стилизация верхнего меню*/

.top-menu-list {
    list-style-type: none;
}


/*стилизация контента*/

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.top-heading {
    font-size: 64px;
    color: #1F3F68;
}

.heading-maxi {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading {
    font-size: 36px;
    text-align: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.input-text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-submit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}